.btn {
  background-color: #ff4d93;
  color: #fff;
  border-radius: 8px;
  padding: 9px 25px;
}
.panda-background {
  background-color: #fcebe9;
}
.product-img img {
  width: 100px;
}
.product-bg1 {
  background-color: #ffc107;
}
.product-bg2 {
  background-color: #198754;
}
.product-bg3 {
  background-color: #0d6efd;
}
